<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>receiver uuid: <b><%= uuid %></b></p>
<script src="/socket.io/socket.io.js"></script>
<script>
  const localVideo = document.getElementById('localVideo');
  let localStream = null;

  const start = (async () => {
    localStream = await navigator.mediaDevices.getUserMedia({audio: true, video: true});
  })()

  const config = {
    iceServers: [
      {
        urls: 'stun:stun.l.google.com:19302'
      }
    ]
  };

  const socket = io({
    transports: ['websocket', 'polling'],
    query: new URLSearchParams({
      receiverUUID: '<%= uuid %>'
    }).toString()
  });

  socket.on('connect', () => {
    socket.on('error', console.error);
    socket.on('offer', offer);
    socket.on('ice', ice);
    socket.on('unbind', unbind);
  });

  let pc = null;
  let datachannel = null;

  const offer = async (event) => {
    const configuration = {offerToReceiveVideo: true, offerToReceiveAudio: true, ...config}
    pc = new RTCPeerConnection(configuration);
    localStream.getTracks().forEach(track => {
      pc.addTrack(track, localStream)
    });
    pc.onconnection = () => console.log('Connection established');
    pc.ondatachannel = e => {
      console.log('datachannel: ', e);
      if (e.channel.label === 'RTCDataChannel') {
        datachannel = e.channel;
        datachannel.onmessage = message => {
          console.log('message: ', message);
        };
      }
    }
    pc.onconnectionstatechange = () => {
      if (['disconnected', 'closed', 'failed'].some(state => state === pc.connectionState)) {
        console.log('STATE: ', pc.connectionState);
      }
    }
    pc.onicecandidate = iceCandedateHandler;
    await pc.setRemoteDescription(event);
    const answer = await pc.createAnswer();
    await pc.setLocalDescription(answer);
    console.log('answer: ', answer);
    socket.emit('answer', answer);
  }

  const ice = async (icecandidate) => {
    console.log('rec_ice: ', icecandidate)
    if (pc) {
      await pc.addIceCandidate(icecandidate.candidate);
    }
  }

  const iceCandedateHandler = event => {
    if (event.candidate) {
      socket.emit('ice', {
        candidate: event.candidate,
        sdpMid: event.candidate.sdpMid,
        sdpMLineIndex: event.candidate.sdpMLineIndex
      })
    }
    console.log('E: ', event)
  }

  const unbind = () => {
    console.log('unbind')
  };

  const handleReceiveMessage = message => {

  }
</script>
</body>
</html>
